---
layout: default
title: Welcome
description: The home page for our new Big Rapids Chess group site.
featured_image: /images/my_background_green.jpg
---

<section class="blog single">

	<div class="wrap">
<img src="images/chess_old.jpeg">

<h2>Welcome</h2>

<p>This is currently an informal gathering of chess players and those that are interested in learning more about chess. We generally meet twice each week:</p>

<p>We gather on campus at Ferris State University in the <a href="https://www.ferris.edu/HTMLS/administration/studentaffairs/RC/index.html">University Center</a> near the Starbucks on Wednesdays from 2:00 to 4:00 pm.</p>

<p>We also meet at the <a href="https://www.bigrapids.lib.mi.us" target="_blank">Big Rapids Community Library</a> in the Community room on Thursdays from 5:00 to 7:00 pm. Anyone interested in learning, studying, or playing chess is invited to attend both of these. You can learn more about our group on our <a href="about.html">About us</a> page. Due to the response to the COVID-19 outbreak, our group has been on a prolonged hiatus. We are working on resuming regular meetings again this summer (2021) as things become more normal once again. Thanks for your patience.</p>

		{% for post in paginator.posts %}

		<article class="blog-post">

			<div class="blog-post__header">
				<h2 class="blog-post__title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p class="blog-post__subtitle">{{ post.date | date_to_long_string }}</p>
			</div>

			{% if post.featured_image %}
			<a href="{{ post.url }}" class="blog-post__image" style="background-image: url({{ post.background_image  }});"></a>
			{% endif %}

			<div class="blog-post__content">
				<p>{{ post.excerpt }}</p>
				<p><a href="{{ post.url }}" class="button">Read More</a>
			</div>

		</article>

		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--large"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--large"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
	</div>
	{% endif %}

</section>

{% endif %}
