---
layout: default
title: Chess Lessons
subtitle: Here are some instructional materials that we have used at our club.
description: Big Rapids Chess promotes playing and learning chess in the Big Rapids area.
featured_image: /images/my_background_green.jpg
---

<section class="intro">

	<div class="wrap">

		<h1>{{ page.title }}</h1>
		<p>{{ page.subtitle }}</p>

	</div>

</section>

<section class="single">

	<div class="wrap">

		<h3>Beginner Material</h3>
		<p>This is a series of quick introductory lessons to familiarize those new to the game to some of the basics of chess. This is by no means an exhaustive resource; we have neither the time nor the expertise to create such a compendium. Instead, you may view these as an entry point to learning more about this fascinating game.</p>

		{% for lesson in site.lessons %}
		<ul>
			{% if lesson.category == "Beginning" %}
				<li><a href={{lesson.url}}>{{lesson.title}}</a></li>
			{% endif %}
		</ul>
		{% endfor %}

		<h3>Checkmates</h3>
		<p>This is a series of quick introductory lessons to familiarize those new to the game to some of the basics of chess.</p>

		{% for lesson in site.lessons %}
		<ul>
			{% if lesson.category == "Checkmates" %}
				<li><a href={{lesson.url}}>{{lesson.title}}</a></li>
			{% endif %}
		</ul>
		{% endfor %}

		<h3>Openings</h3>
		<p>This is a series of quick introductory lessons to familiarize those new to the game to some of the basics of chess.</p>

		{% for lesson in site.lessons %}
		<ul>
			{% if lesson.category == "Openings" %}
				<li><a href={{lesson.url}}>{{lesson.title}}</a></li>
			{% endif %}
		</ul>
		{% endfor %}

		<h3>Tactics</h3>
		<p>This is a series of quick introductory lessons to familiarize those new to the game to some of the basics of chess.</p>

		{% for lesson in site.lessons %}
		<ul>
			{% if lesson.category == "Tactics" %}
				<li><a href={{lesson.url}}>{{lesson.title}}</a></li>
			{% endif %}
		</ul>
		{% endfor %}

		<h3>Endgames</h3>
		<p>This is a series of quick introductory lessons to familiarize those new to the game to some of the basics of chess.</p>

		{% for lesson in site.lessons %}
		<ul>
			{% if lesson.category == "Endgames" %}
				<li><a href={{lesson.url}}>{{lesson.title}}</a></li>
			{% endif %}
		</ul>
		{% endfor %}

	</div>

</section>
