<div id="entry-list">

<table id="keywords">
	<thead>
		<tr>
			<th style="width:30%;"><span>Player Name</span></th>
			<th style="width:30%;"><span>Games Played</span></th>
			<th style="width: 20%;"><span>Club Rating</span></th>
			<th style="width: 20%;"><span>Ladder Position</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for item in site.data.members %}
		<tr>
			<td>{{ item.name }}</td>
			<td>W{{ item.W }} / D{{ item.D }} / L{{ item.L }}</td>
			<td>{{ item.rating }}</td>
			<td>{{ item.ladder }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>



<script type="text/javascript">
jQuery(document).ready(function($){
  $('#keywords').tablesorter();
});
</script>
