<table id="keywords">
	<thead>
		<tr>
			<th><span>Player Name</span></th>
			<th><span>Games Played</span></th>
			<th><span>Club Rating</span></th>
			<th><span>Ladder Position</span></th>
		</tr>
	</thead>
	<tbody>
	{% for item in site.data.members %}
		<tr>
			<td>{{ item.name }}</td>
			<td>W{{ item.W }} / D{{ item.D }} / L{{ item.L }}</td>
			<td>{{ item.rating }}</td>
			<td>{{ item.ladder }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>


<script type="text/javascript">
jQuery(document).ready(function($){
  $('#keywords').tablesorter(
  	headers: {
         3: { sorter: 'digit' } // column number, type
     }
  );
});
</script>
