<div class="contact-form">

	<form method="post" action="{{ site.data.settings.contact_settings.form_action }}" id="join-form">

		<div class="contact-form__item">
			<label class="contact-form__label">Email Address *</label>
			<input type="text" name="email" placeholder="Your email address..." class="contact-form__input" required>
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">Name *</label>
			<input type="text" name="name" placeholder="Your name..." class="contact-form__input" required>
		</div>
		<div class="contact-form__item">
      		<label class="contact-form__label">What is your level of chess experience?</label><br />
      		<select name="experience" id="experience" required>
    		<option value="Novice">Novice (never played before)</option>
    		<option value="Beginner">Beginner (know the basic rules)</option>
    		<option value="Casual" selected>Casual (play occasional games with friends)</option>
    		<option value="Advanced">Advanced (play in tournaments with others)</option>
    		</select><br /><br />
   			<label class="contact-form__label">What age range are you in?</label><br />
  			<select name="age" id="age" required>
  			<option value="Junior">Junior member (less than 18 years old)</option>
  			<option value="Regular" selected>Standard member (between 18 and 64 years old, inclusively)</option>
			<option value="Senior">Senior member (over 64 years old)</option>
 			</select><br /><br />
  			<label class="contact-form__label">Do you currently have a USCF chess rating?</label><br />
  			<select name="rated" id="rated" required>
  			<option value="No" selected>No (Unrated)</option>
			<option value="Yes">Yes (Rated player)</option>
 			</select>
		</div>

		<input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
		<input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject2 }}" />
		<input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

		<div class="contact-form__item">
			<input type="submit" value="{{ site.data.settings.contact_settings.send_button_text }}" class="button button--large">
		</div>

	</form>

</div>
